.navigation{
  padding: 40px 130px;
  transition: .3s ease;
  &.nav-bg {
    background-color: $white; // 맨위의 nav 창 배경 색상
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $black;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      color: black !important;
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 15px;
    }
    &.active{
      font-weight: bold;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $black;
}