<!-- hero area -->
<section class="hero-area bg-laundroid" id="parallax"> <!-- 메인 페이지의 배경 색상 바꾸는 곳 -->>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-dark font-tertiary">{{ site.data.settings.hero.hero-title }}</h1> <!-- 메인 페이지 제목 바꾸는 곳 ex. 3M ... -->>
      </div>
    </div>
  </div>
  <div class="layer-bg w-50"> <!-- 여기서 메인 홈의 이미지 및 사진 크기를 변경 -->>
    <img class="img-fluid w-50" src="{{ site.baseurl }}/assets/images/blog/cinema4d_robot.png" alt="bg-shape">
  </div>
  <!-- <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div> -->
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/laundry1.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-dark" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->