// Color Variables
// $primary-color: #41228e;
$primary-color: #fff;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$text-color-purple: #41228e;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$robo: #F1F2F6;
$laundroid: #fff;
$purple: #41228e;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
